@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  /* min-width: 310px !important; */
  overflow-x: hidden !important;
  color: rgba(0, 0, 0, 0.85);
}

.primary-gradient {
  background: linear-gradient(180deg, #548CA8 0%, #334257 100%);
}

.text-gradient {
  background: linear-gradient(180deg, rgba(84, 140, 168, 0.85) 0%, rgba(51, 66, 87, 0.85) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.card_text_gradient {
  background: linear-gradient(180deg, rgba(240, 251, 255, 0.85) 0%, rgba(212, 230, 255, 0.85) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.navLinks {
  position: relative;
}

.navLinks::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #F6F5F5;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s ease-in-out;
}

.navLinks:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.hero-border {
  border-bottom: 5px #548CA8 dashed;
}

.cta-button {
  border-top: 2px dashed #0C0E0F8F;
  border-bottom: 2px dashed #548CA8E0;
  border-left: 2px dashed #548CA8E0;
  border-right: 2px dashed #548CA8E0;
}

img {
  width: auto;
  height: auto;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.dashBSidebar {
  -webkit-animation: slide-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.btn {
  transition: all 0.5s;
}

.btn span {
  position: relative;
  display: inline-block;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.carousel .control-dots li {
  background: linear-gradient(180deg, rgba(84, 140, 168, 0.85) 0%, rgba(51, 66, 87, 0.85) 100%) !important;
  height: 10px !important;
  width: 10px !important;
}

.carousel.carousel-slider .control-arrow {
  background: linear-gradient(180deg, rgba(84, 140, 168, 0.85) 0%, rgba(51, 66, 87, 0.85) 100%) !important;
  height: 50px;
}

.text_shine {
  color: rgba(84, 140, 168, 0.85);
  background: -webkit-gradient(linear, left top, right top, from(#548CA8), to(#87bbff), color-stop(0.5, #548CA8));
  background: -moz-gradient(linear, left top, right top, from(#548CA8), to(#87bbff), color-stop(0.5, #548CA8));
  background: gradient(linear, left top, right top, from(#548CA8), to(#87bbff), color-stop(0.5, #548CA8));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #548CA8;
}

@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

.black__gradient {
  background: rgba(0, 0, 0, 0.6);
  filter: blur(800px);
  opacity: .8;
}

.red__gradient {
  background: rgba(156, 7, 7, 0.6);
  filter: blur(750px);
}

/*applies to firefox only */

@-moz-document url-prefix() {
  .black__gradient {
    opacity: .1;
  }

  .red__gradient {
    opacity: .1;
  }
}

@supports (-moz-appearance:none) {
  .black__gradient {
    opacity: .1;
  }

  .red__gradient {
    opacity: .1;
  }
}

.shadow {
  box-shadow: 4px 0px 15px 0.5px rgba(0, 0, 0, 0.25);
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.2); /* Black see-through */
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:.8;
  text-align: center;
}
.overlay:hover {
  opacity: 1;
}

.div-overlay{
  background: rgba(246, 245, 245, 0.37);
}
.requestForm >* {
padding: 1rem;
margin: .5rem;
border: 1px solid rgb(233, 233, 233);
opacity: .7;
border-radius: 10px;
width: 90%;
}

.request-btn {
  opacity: 1;
  padding: .3rem;
}
.share >* {
  margin: 3px;
  padding: 2px;
}

/*custom scroll bar */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid rgb(172, 169, 169);
}
.checkContent label {
  width: 40%;
  position: relative;
  padding: 12px;
  cursor: pointer;
}
.checkContent label h6 {
  left: 0;
  top: 0;
  margin: 2px 0px 0px 5px;
  position: absolute;
}
.checkContent input:checked ~ .checkmark {
  background-color: #334257;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checkContent input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkContent .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Hide the browser's default checkbox */
.checkContent input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
@media screen and (max-width: 768px) {
  .hide {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .left {
    left: 70px;
  }
}