@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;600;700;800&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	/* min-width: 310px !important; */
	overflow-x: hidden !important;
	color: rgba(0, 0, 0, 0.85);
	scroll-behavior: smooth;
	font-family: "Poppins", serif;
}

.primary-gradient {
	background: linear-gradient(180deg, #548ca8 0%, #334257 100%);
}

.text-gradient {
	background: linear-gradient(
		180deg,
		rgba(84, 140, 168, 0.85) 0%,
		rgba(51, 66, 87, 0.85) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.card_text_gradient {
	background: linear-gradient(
		180deg,
		rgba(240, 251, 255, 0.85) 0%,
		rgba(212, 230, 255, 0.85) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.navLinks {
	position: relative;
}

.navLinks::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #f6f5f5;
	bottom: 0;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.5s ease-in-out;
}

.navLinks:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

.hero-border {
	border-bottom: 5px #548ca8 dashed;
}

.cta-button {
	border-top: 2px dashed #0c0e0f8f;
	border-bottom: 2px dashed #548ca8e0;
	border-left: 2px dashed #548ca8e0;
	border-right: 2px dashed #548ca8e0;
}

img {
	width: auto;
	height: auto;
}

.sidebar {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
	0% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes slide-top {
	0% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

.dashBSidebar {
	-webkit-animation: slide-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
	0% {
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes slide-right {
	0% {
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

.btn {
	transition: all 0.5s;
}

.btn span {
	position: relative;
	display: inline-block;
	transition: 0.5s;
}

.btn span:after {
	content: "\00bb";
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.btn:hover span {
	padding-right: 25px;
}

.btn:hover span:after {
	opacity: 1;
	right: 0;
}

.carousel .control-dots li {
	background: linear-gradient(
		180deg,
		rgba(84, 140, 168, 0.85) 0%,
		rgba(51, 66, 87, 0.85) 100%
	) !important;
	height: 10px !important;
	width: 10px !important;
}

.carousel.carousel-slider .control-arrow {
	background: linear-gradient(
		180deg,
		rgba(84, 140, 168, 0.85) 0%,
		rgba(51, 66, 87, 0.85) 100%
	) !important;
	height: 50px;
}

.text_shine {
	color: rgba(84, 140, 168, 0.85);
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#548ca8),
		to(#87bbff),
		color-stop(0.5, #548ca8)
	);
	background: -moz-gradient(
		linear,
		left top,
		right top,
		from(#548ca8),
		to(#87bbff),
		color-stop(0.5, #548ca8)
	);
	background: gradient(
		linear,
		left top,
		right top,
		from(#548ca8),
		to(#87bbff),
		color-stop(0.5, #548ca8)
	);
	-webkit-background-size: 125px 100%;
	-moz-background-size: 125px 100%;
	background-size: 125px 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-animation-name: shimmer;
	-moz-animation-name: shimmer;
	animation-name: shimmer;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: #548ca8;
}

@-moz-keyframes shimmer {
	0% {
		background-position: top left;
	}

	100% {
		background-position: top right;
	}
}

@-webkit-keyframes shimmer {
	0% {
		background-position: top left;
	}

	100% {
		background-position: top right;
	}
}

@-o-keyframes shimmer {
	0% {
		background-position: top left;
	}

	100% {
		background-position: top right;
	}
}

@keyframes shimmer {
	0% {
		background-position: top left;
	}

	100% {
		background-position: top right;
	}
}
.sideBar {
}
/* .black__gradient {
  background: rgba(75, 213, 255, 0.6);
  filter: blur(800px);
  opacity: .5;
}

.red__gradient {
  background: rgba(7, 146, 156, 0.6);
  filter: blur(750px);
  opacity: .1;
} */

/*applies to firefox only */

@-moz-document url-prefix() {
	/* .black__gradient {
    opacity: .1;
  }

  .red__gradient {
    opacity: .1;
  } */
	.barOverflow {
		overflow-y: hidden;
	}
	/* .overviewScroll::-moz-progress-bar{
    display: none;
  } */
}

@supports (-moz-appearance: none) {
	.black__gradient {
		opacity: 0.1;
	}

	.red__gradient {
		opacity: 0.1;
	}
	.barOverflow {
		overflow-y: hidden;
	}
}
/*end */

.shadow {
	box-shadow: 4px 0px 15px 0.5px rgba(0, 0, 0, 0.25);
}

.overlay {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.2);
	/* Black see-through */
	width: 100%;
	height: 100%;
	transition: 0.5s ease;
	opacity: 0.9;
	text-align: center;
}

.profilesOverlay {
	background: rgba(0, 0, 0, 0.77);
	height: 100%;
	opacity: 1;
	transition: 0.6s ease;
	transform: scale(1);
}

.profilesOverlay:hover {
	opacity: 0.9;
	transform: scale(1.02);
}

.overlay:hover {
	opacity: 1;
}

.div-overlay {
	background: rgba(246, 245, 245, 0.37);
}

.requestForm > * {
	padding: 1rem;
	margin: 0.5rem;
	border: 1px solid rgb(233, 233, 233);
	opacity: 0.7;
	border-radius: 10px;
	width: 90%;
}

.request-btn {
	opacity: 1;
	padding: 0.3rem;
}

.share > * {
	margin: 3px;
	padding: 2px;
}

/*custom scroll bar */
::-webkit-scrollbar {
	width: 7px;
	height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(182, 182, 182);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.barOverflow::-webkit-scrollbar {
	display: none;
}

/*custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	right: 0;
	height: 25px;
	width: 25px;
	background-color: #fff;
	border: 1px solid rgb(172, 169, 169);
}

.checkContent label {
	width: 40%;
	position: relative;
	padding: 12px;
	cursor: pointer;
}

.checkContent label h6 {
	left: 0;
	top: 0;
	margin: 2px 0px 0px 5px;
	position: absolute;
}

.checkContent input:checked ~ .checkmark {
	background-color: #334257;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkContent input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkContent .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Hide the browser's default checkbox */
.checkContent input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

@media screen and (max-width: 350px) {
	.left {
		left: 70px;
	}
}
.hoverClass {
	transition: 0.5s ease-in-out;
}
.hoverClass:hover {
	/* transform: scale(1.03); */
	margin-top: 0.5px;
}

@layer base {
  :root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}
  .dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
  * {
    @apply border-border;
	}
  body {
    @apply bg-background text-foreground;
	}
}
